[disabled] {
    background-color: red;
}

[placeholder="이름"] {
    background-color: orange;
}

input:not([placeholder]) {
    background-color: blue;
}

/* 속성값이 특정 단어를 포함하는 요소 ~ */
[class~="note"] {
    background-color: yellow;
}

/* 속성값이 특정 접두사로 시작하는 경우 ^= */
[href^="https"] {
    color: red;
}

/* 속성값이 특정 접미사로 끝나는 경우 $= */
[src$=".png"] {
    border: 1px solid green;
}

/* 속성값이 특정 문자열을 포함하는 요소 *= */
[alt*="고양이"] {
    border:1px dashed crimson
}