/* 야생의 사자만 선택 */
body > .lion {
    background-color: red;
}
/* 사파리 안의 사자만 선택 */
.zoo ul .lion {
    background-color: greenyellow;
}
/* 호랑이만 선택 */
#tiger {
    background-color: yellow;
}
/* 사자 전부 선택 */
.lion {
    color: sienna;
}
/* 동물원 안의 사자 */
.zoo .lion {
    font-weight: bold;
}
/* 호랑이 뒤에있는 팬더 */
#tiger + li {
    background-color: skyblue;
}
/* 사파리 사자 뒤에 있는 사육사 모두 */
ul .lion ~ li {
    background-color: orange;
}